[tool.poetry]
name = "creosote"
version = "0.1.0b2"
description = "Identify unused production dependencies and avoid a bloated virtual environment."
authors = ["Fredrik Averpil <fredrik.averpil@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.7, <3.11"  # do not use ^3.10
distlib = "^0.3.4"
loguru = "^0.6.0"

[tool.poetry.dev-dependencies]
black = "^22.1.0"
flake8 = "^4.0.1"
flake8-bugbear = "^22.1.11"
flake8-bandit = "^2.1.2"
mypy = "^0.931"
pytest = "^7.0.0"
isort = "^5.10.1"
loguru-mypy = "^0.0.4"

[tool.poetry.scripts]
creosote = "creosote.cli:main"

[tool.isort]
profile = "black"
line_length = "88"

[tool.mypy]
python_version = "3.10"

[[tool.mypy.overrides]]
module = [
    "distlib.*",
]
ignore_missing_imports = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
